@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");


html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgba(27, 28, 27, 0.8) rgba(0, 0, 0, 0.3);
  
  }




  body {
  /* background: #14181C; */
  background: #111827;
    overflow-x: hidden;
    color: white;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
  }

  a {
    
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   
    line-height: 1.1;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    line-height: 1.4;
  }
  
  img {
    display: block;
    object-fit: cover;
    width: 100%;
  }

.content {
  flex: 1; 
  height: 100%;
  width: 100%;
}

